{% extends "base.html" %}
{% block content %}
<div class="row">
    <ul class="column">
        <h1>Hello, </h1>

        <p>On this page you can see your profile details, such as email, groups, permissions. If you want to change, remove or update any data, contact administrator.</p>

        <fieldset disabled>

            <div class="mb-3">
                <label class="form-label">Full name</label>
                <input type="text" class="form-control" value="{{ user.get_username }}">
            </div>


            <div class="mb-3">
                <label class="form-label">Full name</label>
                <input type="text" class="form-control" value="{{ user.get_full_name }}" placeholder="<not defined>">
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" value="{{ user.email }}" placeholder="<not defined>">
            </div>
        </fieldset>


        <p>Last login: {{ user.last_login }}</p>
        <p>Date created: {{ user.date_joined }}</p>

        <!-- TODO: Exclude if necessary -->
        <h2>Groups</h2>
        {% for group in request.user.groups.all %}
            <button type="button" class="btn btn-primary btn-sm m-1">{{ group.name }}</button>
        {% endfor %}

        <!-- TODO: Exclude if necessary -->
        <h2>Permissions</h2>

        {% for permission in user.get_all_permissions %}
            <button type="button" class="btn btn-primary btn-sm m-1" disabled>{{ permission }}</button>
        {% endfor %}

    </div>
</div>
{% endblock content %}